{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>Congratulations!</h1>
</div>

<div id="content">
	<h2>{$test}</h2>



	<h2>{$iden}</h2>


</div>
{/block}

{block scripts}
{include parent}
{/block}


{block head}

{/block}
