services:
	acl:
		setup:
			- addRole(guest)
			- addRole(member, guest)
			- addRole(admin)
            # Zdroje CoreModule.
			- addResource(Core:Homepage)
			- addResource(Core:Sign)
			- addResource(Core:Test)
			- addResource(Core:Connect)
			- addResource(Core:Sensors)


            # Pravidla přístupu
			- allow(guest, Core:Sign)
			- allow(guest, Core:Connect)
			- allow(guest, Core:Homepage)
			- allow(guest, Core:Sensors, default)


			- allow(member, Core:Homepage)
			- allow(member, Core:Sensors)
			
			- allow(admin) # Administrátor může všechno.
			

			# - deny(guest, Core:Homepage)
	- App\CoreModule\Model\SensorManager(%defaultMsgLanguage%,%defaultAPILanguage%)
	- App\CoreModule\Model\ThisSensorManager
	- App\CoreModule\Model\DatabaseManager
	- App\CoreModule\Forms\SensorsFormFactory

	