services:
	acl:
		setup:
			- addRole(guest)
			- addRole(member, guest)
			- addRole(admin)
            # Zdroje CoreModule.
			- addResource(Core:Homepage)
			- addResource(Core:Sign)
			- addResource(Core:Test)
			- addResource(Core:Connect)


            # Pravidla přístupu
			- allow(member, Core:Homepage)
			- allow(guest, Core:Sign)
			- allow(admin) # Administrátor může všechno.
			- allow(guest, Core:Connect)

			- deny(guest, Core:Homepage)
