services:
	acl:
		setup:
			- addRole(guest)
			- addRole(member, guest)
			- addRole(admin)
            # Zdroje CoreModule.
			- addResource(Core:Homepage)
			- addResource(Core:Sign)
			- addResource(Core:Test)
			- addResource(Core:Connect)
			- addResource(Core:Sensors)
			- addResource(Core:WorkShift)
			- addResource(Core:SensorsSettings)
			- addResource(Core:DatabaseTest)
			- addResource(Core:Setup)
			- addResource(Core:Overview)
			# - addResource(Error)
			# - addResource(Error4xx)


            # Pravidla přístupu
			- allow(guest, Core:Sign)
			- allow(guest, Core:Connect)
			- allow(guest, Core:Homepage)
			- allow(guest, Core:Sensors, default)
			- allow(guest, Core:Setup)
			- allow(guest, Core:Overview)
			# - allow(guest, Error)
			# - allow(guest, Error4xx)


			- allow(member, Core:Homepage)
			- allow(member, Core:Sensors)

			- allow(admin) # Administrátor může všechno.

			# - deny(guest, Core:Homepage)

    # Models
	- App\CoreModule\Model\SensorsManager
	- App\CoreModule\Model\ThisSensorManager
	- App\CoreModule\Model\MultiSensorsManager
	- App\CoreModule\Model\ThisChartManager
	- App\CoreModule\Model\ChartManager
	- App\CoreModule\Model\RoomManager
	- App\CoreModule\Model\WorkShiftManager
	- App\CoreModule\Model\DatabaseSelectionManager
	- App\CoreModule\Model\DatabaseTestManager
	- App\CoreModule\Model\SetupManager

    # Forms

	- App\CoreModule\Forms\SensorsFormFactory
	- App\CoreModule\Forms\ThisSensorFormFactory
	- App\CoreModule\Forms\WorkShiftFormFactory
	- App\CoreModule\Component\PletackaChartControl\PletackaChartControlFactory
	- App\CoreModule\Component\StatusBubblesControl\StatusBubblesControlFactory
	- App\CoreModule\Component\StatusNumbersControl\StatusNumbersControlFactory
	- App\CoreModule\Component\ThisStatusNumbersControl\ThisStatusNumbersControlFactory
	- App\CoreModule\Component\ThisChartControl\ThisChartControlFactory
	- App\CoreModule\Component\ThisSensorOverview\ThisSensorOverviewFactory
	- App\CoreModule\Component\SensorOverview\SensorOverviewFactory