{block title}Editace {$number}{/block}

{block content}


<div class="container text-center p-4 " >
    <h1>Upravit senzor: {$number}</h1>
    <h5><a class="ajax" n:href="SensorsSettings:default" >Zpět na senzory</a></h5>
</div>


<div class="container  p-4 " >
    {include bootstrap-form editSensorForm}
</div>