{block content}

<div class="text-center">
    <h5>{$name}</h5>
    <h6>{$date}</h6>
</div>
<div class="chart-chart">
    {$pletackaChart|noescape}
</div>

{*<a n:href="click!" class="ajax">click here</a>*}