{block head}
{*    <link rel="stylesheet" href="{$basePath}/css/app/thisChart.css">*}
{/block}

{block content}

<div class="text-center center ">
    <h2>Přehled ze všech senzorů</h2>
</div>





<br>

{/block}

