{block content}

<div class="row">
    <div class="col-sm-4 ">
        <h5>Upleteno</h5>
        <h2>{$numberBox->finishedCount} p</h2>
    </div>
    <div class="col-sm-4 ">
        <h5>Úspěšnost</h5>
        <h2>{$numberBox->rating}%</h2>
    </div>
    <div class="col-sm-4 ">
        <h5>Průměrná doba stání</h5>
        <h2>{$numberBox->stopTimeStr}</h2>
    </div>
</div>
