{block title}Prvotní nastavení{/block}

{block content}


<div class="container-fluid  p-4 bg-primary text-white text-center"  >
    <h1 class="display-4">
        Prvotní nastavení
    </h1>
</div>



<div class="container-fluid p-4" >
        {if

</div>