{block head}
    <link rel="stylesheet" href="{$basePath}/css/app/thisChart.css">
{/block}

{block content}

<div class="text-center thisChartHead ">
    <h2>{$name}</h2>
    <h4>{$timeText}</h4>
</div>


<div class="thisChart">
    {$chart|noescape}
</div>

<br>

{/block}

