{block title}Home{/block}

{block content}
{*<div class="container-fluid  p-4 bg-primary text-white text-center"  >*}
{*    <h1 class="display-4">*}
{*        {$actualWS}*}
{*    </h1>*}
{*    {snippet ssPusInfo}*}
{*        {include pusInfo $settings}*}
{*    {/snippet}*}
{*</div>*}

<div class="container-fluid  p-4 bg-primary text-white text-center"  >
    <h1 class="display-4">
        {$actualWS}
    </h1>
    {snippet statusNumbers}
        {control statusNumbers, array($plBig, $plSmall), $actualWS}
    {/snippet}
</div>

<div class="container-fluid bg-info p-4" >

{*    <a class="ajax btn btn-warning btn-sm text-center" id="ReloadBubbles" *}{*style="visibility: hidden;"*}{*  n:href="ReloadBubbles!">Aktualizovat</a>*}
    {snippet statusBubbles}

        <div class="row">
            <div class="col-lg-8">
                {control statusBubbles $plBig, "Velká pletárna"}
            </div>


            <div class="col-lg-4">
                {control statusBubbles $plSmall, "Malá pletárna"}
            </div>
        </div>
    {/snippet}
</div>

{*<script>*}
{*    setInterval(*}
{*        function ()*}
{*        {*}
{*            document.getElementById("ReloadBubbles").click();*}
{*        }, 20000*}
{*    );*}

{*</script>*}





