{block title}Home{/block}

{block content}
<div class="container-fluid  p-4 bg-primary text-white text-center"  >
    <h1 class="display-4">
        {$actualWS}
    </h1>
    {snippet ssPusInfo}
        {include pusInfo $settings}
    {/snippet}
</div>

<div class="container-fluid  p-4 bg-primary text-white text-center"  >
{*    <h1 class="display-4">*}
{*        {$actualWS}*}
{*    </h1>*}
    {snippet sPusInfo}
        {control statusNumbers, array($plBig, $plSmall), $actualWS}
    {/snippet}
</div>

{*<div class="container-fluid bg-info p-4" >*}

{*    <a class="ajax btn btn-warning btn-sm" id="ReloadBubbles"  n:href="ReloadBubbles!">Aktualizovat</a>*}
{*    {snippet sBubbles}*}
{*        <div class="row">*}
{*            <div class="col-lg-7 " style="max-width: 1080px">*}
{*                {include bubbles $bubblesBig}*}
{*            </div>*}


{*            <div class="col-lg-5 " style="max-width: 500px">*}
{*                {include bubbles $bubblesSmall}*}
{*            </div>*}
{*        </div>*}
{*    {/snippet}*}
{*</div>*}


<div class="container-fluid bg-info p-4" >

    <a class="ajax btn btn-warning btn-sm text-center" id="ReloadBubbles"  n:href="ReloadBubbles!">Aktualizovat</a>
    {snippet statusBubbles}

        <div class="row">
            <div class="col-lg-7">
                {control statusBubbles $plBig, "Velká pletárna"}
            </div>


            <div class="col-lg-5">
                {control statusBubbles $plSmall, "Malá pletárna"}
            </div>
        </div>
    {/snippet}
</div>

{*<div class="container-fluid text-center p-4 bg-primary text-white " >*}
{*    <h1 class="display-4">*}
{*        Info*}
{*    </h1>*}
{*    <div class="row">*}

{*        <div class="col-sm-3">*}
{*            {$settings->title_succes_rate}*}
{*        </div>*}
{*        <div class="col-sm-3">*}
{*            {$settings->title_error_count}*}
{*        </div>*}
{*        <div class="col-sm-3">*}
{*            {$settings->title_error_count}*}
{*        </div>*}
{*    </div>*}
{*</div>*}


{*<script>*}
{*    setInterval(*}
{*        function ()*}
{*        {*}
{*            document.getElementById("ReloadBubbles").click();*}
{*        }, 20000*}
{*    );*}

{*</script>*}





