{block title}Debug{/block}
{block content}

Debuger


<input type="text" name="daterange" value="01/01/2018 - 01/15/2018" />


<script>
    $(function() {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });
</script>

{*////////////////////*}


<div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span> <i class="fa fa-caret-down"></i>
</div>


<script type="text/javascript">
    $(function() {

        var start = moment().startOf('day');
        var end = moment().endOf('day');

        function cb(start, end) {
            $('#reportrange span').html(start.format('D. M. Y HH:mm') + ' - ' + end.format('D. M. Y HH:mm'));
        }

        $('#reportrange').daterangepicker({
            timePicker: true,
            // customRangeLabel: 'Vlastní',
            startDate: start,
            endDate: end,
            timePicker24Hour: true,
            alwaysShowCalendars: true,
            ranges: {
                'Dnes': [moment().startOf('day'), moment().endOf('day')],
                'Včera': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
                'Posledních 7 dnů': [moment().subtract(6, 'days').startOf('day'), moment().endOf('day')],
                'Posledních 30 dní': [moment().subtract(29, 'days').startOf('day'), moment().endOf('day')],
                'Tento měsíc': [moment().startOf('month'), moment().endOf('month')],
                'Minulý měsíc': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            locale: {
                format: 'MM/DD/YYYY',
                separator: ' - ',
                applyLabel: 'Potvrit',
                cancelLabel: 'Zrušit',
                fromLabel: 'Od',
                toLabel: 'Do',
                customRangeLabel: 'Vlastní',
                weekLabel: 'T',
                daysOfWeek: ['Po', 'Út', 'St', 'Čt', 'Pá', 'So','Ne'],
                monthNames: ['Leden', 'Únor', 'Březen', 'Duben', 'Květen', 'Červen', 'Červenec', 'Srpen', 'Září', 'Říjen', 'Listopad', 'Prosinec'],
                firstDay: 0
            },

            }, cb);

        cb(start, end);

    });
</script>


<input type="text" name="datetimes" />

<script>
    $(function() {
        $('input[name="datetimes"]').daterangepicker({
            timePicker: true,
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour').add(32, 'hour'),
            locale: {
                format: 'M/DD hh:mm A'
            }
        });
    });
</script>