{block title}Tester{/block}

{block content}

<div class="container text-center " style="margin-top:80px">
    <h1>Tester - <small>{$time}</small></h1>
</div>
<div class="container">
    <h3>All events count: {$allEventsCount}</h3>
    <h3>All events state count (0): {$allEventsCount0}</h3>
    <h3>All events state count (1): {$allEventsCount1}</h3>
    <h3>All events</h3>
    {foreach $allEvents as $event}
        {if $iterator->first}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>State</th>
                        <th>Work</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
        {/if}
            <tr id="row-{$iterator->counter}">
                <td>{$event->id}</td>
                {if $event->state == 1}
                    <td class="text-success">
                        {$event->state}
                    </td>
                {else}
                    <td class="text-danger">
                        {$event->state}
                    </td>
                {/if}
                <td>{$event->work|noescape}</td>
                
                
                <td>{$event->time}</td>
            </tr>
        {if $iterator->last}
                </tbody>
            </table>
        {/if}
    {/foreach}

    {dump $allEvents}
    <h3>First event state (1): {$firstEvent}</h3>
    <h3>Last event state (1): {$lastEvent}</h3>
    <h3></h3>
    <h3></h3>
</div>