{block content}

<div class="container">
Date chart
{$datechart|noescape}

Chart
{$chart|noescape}

Big Chart
{$bigchart|noescape}


Basic chart
{$basicchart|noescape}


Pie RAW
{$pieRAW|noescape}

Pie
{$pie|noescape}

Donut RAW
{$donutRAW|noescape}


Donut
{$donut|noescape}

Basic chart
{$basicChart|noescape}



</div>