{block title}Editace {$sensor["number"]}{/block}

{block content}


<div class="container text-center p-4 " >
    <h2>Upravit senzor: {$sensor["number"]}</h2>
    <h5><a class="ajax" n:href="sensor $number" >Zpět na senzor</a></h5>
</div>
    

<div class="container  p-4 " >
    {include bootstrap-form editSensorForm}
</div>