{block content}


<div class="container text-center p-4 " style="margin-top:80px">
    <h2>Upravit senzor: {$sensor["name"]}</h2>
    <h5><a n:href="sensor $name" >Zpět na senzor</a></h5>
    {control editSensorForm}

</div>