name: PHP Tests

on: [push, pull_request]

jobs:
    tests:
        runs-on: ubuntu-latest
        name: PHP 8.0 tests
        steps:
            - uses: actions/checkout@v2
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.0'
                  coverage: none

            - run: composer install --no-progress --prefer-dist
            - run: vendor/bin/tester tests -s -C
            - if: failure()
              run: for i in $(find tests -name \*.actual); do echo "--- $i"; cat $i; echo; echo; done
              shell: bash
